[flake8]
extend-ignore =
  # Don't be crazy if line too long
  E501
  # Missing docstring in __init__
  D107
  # black: blank lines after docstring for function/class
  D202,D204
  # Missing docstring in public module/class/method/function/package/magic method
  D100,D101,D102,D103,D104,D105
per-file-ignores =
    */__init__.py:F401,F403
    tests/*:S101
exclude =
    amici_models
    cache_fiddy
