[flake8]
extend-ignore =
  # Don't be crazy if line too long
  E501
  # Missing docstring in __init__
  D107
  # No blank lines allowed after function docstring. (Clashing with black)
  D202
per-file-ignores =
    */__init__.py:F401,F403
