name: Test suite
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
  schedule:
    # run Sunday at 01:23 UTC
    - cron: '23 1 * * SUN'

jobs:
  build:
    name: Test suite

    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.9', '3.11']

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@master
      with:
        fetch-depth: 20

    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ hashFiles('setup.py') }}-py${{ matrix.python-version }}

    # install dependencies
    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y \
          swig \
          libatlas-base-dev

    - name: Install package
      run: |
        pip install --upgrade --upgrade-strategy eager -e .[tests,amici]

    - name: Run tests
      run: |
        pytest tests/

  quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Prepare python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache
      uses: actions/cache@v3
      with:
        path: ~/.cache
        key: ${{ runner.os }}-${{ matrix.python-version }}-ci-quality

    - name: Install dependencies
      run: pip install tox pre-commit

    - name: Check repository size
      run: tox -e size

    - name: Run quality checks
      timeout-minutes: 5
      run: tox -e pyroma,flake8

    - name: Run pre-commit hooks
      run: pre-commit run --all-files

  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Prepare python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache
      uses: actions/cache@v3
      with:
        path: ~/.cache
        key: ${{ runner.os }}-${{ matrix.python-version }}-ci-docs

    - name: Install dependencies
      run: .github/workflows/setup.sh doc

    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y \
          swig \
          libatlas-base-dev

    - name: Install package
      run: |
        pip install --upgrade --upgrade-strategy eager -e .[doc]

    - name: Build doc
      timeout-minutes: 10
      run: tox -e doc
